<!-- 'npm install bootstrap --save' komutu ile projeye Bootstrap framework'unu ekledim ve proje boyunca kullanmaya çalışacağım. -->

<nav class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-center">
    <span class="navbar-text">
      <h5>Webcam Canlı Görüntü & Screenshot (Anlık Ekran Görüntüsü) Uygulaması</h5>
    </span>
  </div>
</nav>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card text-center webcam-card">
            <webcam class="webcam-mrg" [height]="400" [width]="400" [trigger]="photoTakerObservable"
            (imageCapture)="getImage($event)">
          </webcam>
          <div class="card-body">
            <div class="container live-header">
              <h4 class="card-title">CANLI GÖRÜNTÜ</h4>
            </div>
            <p class="card-text">Bu görüntü cihazınızın dahili kamerasından canlı olarak alınmaktadır.</p>
            <hr>
            <p>'Ekran Görüntüsü Al' butonunu kullanarak anlık ekran görüntüleri alabilirsiniz.</p>
            <button type="button" class="btn btn-secondary btn-sm button-color" (click)="takePhoto();"><svg width="1em" height="1em"
                viewBox="0 0 16 16" class="bi bi-camera-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                <path fill-rule="evenodd"
                  d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z" />
              </svg> Ekran Görüntüsü Al</button>
          </div>
        </div>

      </div>
      <div class="col">
        <photo-selector (savedPhotosEvent)="receiveSavedPhotos($event)" [photo]="photo">
        </photo-selector>
      </div>
    </div>
    <div class="container d-flex justify-content-center header-mrg">
      <div class="row">
        <div class="container btm-header d-flex justify-content-center" *ngIf="savedPhotos">
          <h4>Kaydedilmiş Ekran Görüntüleriniz <svg width="1em" height="1em" viewBox="0 0 16 16"
            class="bi bi-chevron-double-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
            <path fill-rule="evenodd"
              d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
          </svg></h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2 card-deck-style" *ngFor="let img of savedPhotos">
        <!--savedPhotos içindeki fotoğraf kadar yeni col açılıp içine card koyulacak-->
        <div class="card-deck">
          <div class="card card-style">
            <img class="card-img-top card-img-mrg" [src]="img.imageAsDataUrl" height="180" width="382">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>